.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.money{
	display: flex;
	padding: 5px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 5px;

}